.for-against {
  margin: 0 0 3rem;

  table {
    margin: 1rem 0 0;
    max-width: 30rem; // really-wide chart is rather ugly
    border-collapse: collapse;
  }

  thead th {
    font-weight: normal;
    color: @gray-dark;

    &.party { visibility: hidden; }
    &.user-says-yay { text-align: left; }
    &.user-says-nay { text-align: right; }
  }

  th {
    padding: .5rem;
  }

  tbody th {
    width: 1px; // small as possible
    white-space: nowrap;
  }

  td {
    padding: .5rem;
  }

  th.party {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  td.user-says-yay {
    text-align: left;
  }

  td.user-says-nay {
    text-align: right;
  }

  .policy-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.policy {
    .policy-dot();
  }
}
