.for-against {
  position: relative;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead th {
    font-weight: normal;
    color: #484e4d;

    &.party { visibility: hidden; }
    &.user-says-yay { text-align: left; }
    &.user-says-nay { text-align: right; }
  }

  th {
    padding: .5rem;
  }

  tbody th {
    width: 1px; // small as possible
    white-space: nowrap;
  }

  td {
    padding: .5rem .5rem 1rem;
  }

  th.user-says-nay, td.user-says-nay {
    border-right: 1px solid #eee;
  }

  td.user-says-yay {
    .policy { float: left; }
  }

  td.user-says-nay {
    .policy { float: right; }
  }

  .policy-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.policy {
    display: inline-block;
    width: .75rem;
    height: .75rem;
    border: 2px solid transparent;
    background: #898a8e;
    opacity: .5;
    border-radius: .375rem;
    overflow: hidden;

    &.hovering {
      border-color: black;
    }
  }
}
