body {
  max-width: 25em;
  margin: 0 auto;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
}

#main {
  position: relative;
  padding: 1rem;
}

h1, h2 {
  margin-top: 0;
}

.question {
  button {
    display: block;
    text-align: left;
    width: 100%;
    border: 1px solid gray;
    border-radius: .5em;
    padding: 1.5rem;
    background: #eee;
    margin: 1.5rem 0;
    line-height: 4.5rem;
    vertical-align: middle;
  }

  .inner {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5rem;
  }
}

.statistics {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 30rem;
  background: #f7f7f7;
  padding: 1rem;
}

.for-against {
  position: relative;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead th {
    border-bottom: 1px solid #999;
    &.for { text-align: left; }
    &.against { text-align: right; }
  }

  th {
    padding: .5rem;
  }

  tbody th.party {
    padding-bottom: 1.5rem; // Big space between parties
  }

  td {
    // Each li.policy has its own .5rem margin-bottom, so instead of a 1.5rem
    // padding here we'll use a 1rem padding.
    padding: .5rem .5rem 1rem;
  }

  th.party {
    text-align: left;
    // As thin as possible
    width: 0;
    white-space: nowrap;
  }

  th.against, td.against {
    border-right: 1px solid #999;
  }

  td.for {
    .policy {
      float: left;
      margin-left: .5rem;
    }
    .policy-marker { background: #8a8; }
  }

  td.against {
    .policy {
      float: right;
      margin-right: .5rem;
    }
    .policy-marker { background: #a88; }
  }

  .policy-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.policy {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: .5rem;

    .policy-marker {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid #666;
      border-radius: .25rem;
      cursor: pointer;
    }

    .policy-details {
      display: none;
      border: 1px solid black;
      border-top-width: 2px;
      border-radius: .5rem;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.6);
      position: absolute;
      width: 90%;
      background: white;
      padding: 1rem;
      z-index: 1;
      margin-top: .75rem;
      left: 5%;

      line-height: 1.5rem;

      h4 {
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }

      .policy-party {
        opacity: .75;
        font-size: .8rem;
      }

      .policy-better-than, .policy-worse-than {
        padding-top: 1rem;
        font-size: .9rem;
      }

      ul, li, p {
        display: inline;
        margin: 0;
        padding: 0;
      }

      li {
        font-style: italic;
      }
    }

    &.expanded {
      .policy-marker {
        border: 2px solid black;
      }
      .policy-marker::after {
        content: "";
        display: block;
        position: relative;
        margin-top: -2px;
        border-left: 2px solid black;
        left: .75rem;
        margin-left: -3px; // not sure why 3px, but it certainly *looks* right
        height: .75rem;
      }
      .policy-details { display: block; }
    }
  }
}
