@import "mixins.less";

body {
  max-width: 60em;
  margin: 0 auto;
  line-height: 1.5rem;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

input, table {
  font-family: inherit;
}

#main {
  position: relative;
}

h1, h2 {
  margin-top: 0;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

p.explanation {
  font-size: .9rem;
  color: #484e4d;
}

@import "question.less";
@import "for-against.less";
@import "user-profile.less";
@import "statistics.less";
@import "party-score.less";
@import "policy-score.less";
@import "policy-color-legend.less";
@import "share.less";

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .8);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

@import (inline) "spinner-loader.css";

// Font-awesome
@import "vendor/font-awesome/variables.less";
@fa-font-path: "/fonts";
@fa-css-prefix: icon;
@import "vendor/font-awesome/mixins.less";
@import "vendor/font-awesome/path.less";
@import "vendor/font-awesome/core.less";
// Rather than put *all* the icons in the stylesheet, let's just put the three
// we want.
.@{fa-css-prefix}-twitter:before { content: @fa-var-twitter; }
.@{fa-css-prefix}-facebook:before { content: @fa-var-facebook; }
.@{fa-css-prefix}-google-plus:before { content: @fa-var-google-plus; }
