.policy-dot() {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  background: @gray-medium;
  opacity: .5;
  border-radius: 7px;
  overflow: hidden;

  // Move it down a bit, so it lines up with text
  position: relative;
  top: .1rem;

  &.hovering {
    border-color: black;
  }
}

.button() {
  display: inline-block;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214 (copied from Bootstrap, clearly)
  max-width: 20rem;
  border-radius: .5em;
}

.button-default() {
  .button();

  padding: 1.5rem;
  margin: 1rem;
  line-height: 4.5rem;
  vertical-align: middle;

  color: black;
  border: 1px solid @gray-light;
  background: @gray-lighter;

  &:active {
    outline: 0;
    background-color: @gray-light;
  }
}

.button-primary() {
  .button();
  border: 0;
  padding: 1rem;

  color: white;
  background: @button-color;
  font: inherit;
  font-size: 1.25rem;
  font-weight: bold;

  &:active {
    outline: 0;
    color: @gray-light;
  }
}

.tooltip() {
  position: absolute;
  // JavaScript will set `top` and `left` for us
  max-width: 90%;

  border: 0.5px solid black;
  border-radius: .5rem;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.6);
  background: white;
  padding: 1rem;
  z-index: 1;

  line-height: 1.5rem;
}
