.policy-dot() {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border: 2px solid transparent;
  background: #898a8e;
  opacity: .5;
  border-radius: .375rem;
  overflow: hidden;

  &.hovering {
    border-color: black;
  }
}
