
.policy-dot() {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border: 2px solid transparent;
  background: @gray-medium;
  opacity: .5;
  border-radius: .375rem;
  overflow: hidden;

  &.hovering {
    border-color: black;
  }
}

.button-primary() {
  border: 0;
  padding: 1rem;
  border-radius: .5rem;
  color: white;
  background: #7b67ac;
  font: inherit;
  font-size: 1.25rem;
  font-weight: bold;
}
