.party-score {
  margin: 0 0 3rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 30rem; // really-wide chart is rather ugly
  }

  .tooltip {
    .tooltip();
    p { margin: 0; }
  }

  .chart {
    li.party {
      display: flex;
    }

    .party-name {
      font-weight: bold;
      flex: 0 0 auto;

      // line text up with .label (vertically)
      padding: 1rem 1rem 1rem 0;
      line-height: 1rem;
    }

    .bar-container {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: flex-start;
    }

    .bar {
      height: 2rem;
      margin: .5rem 0;
      border: 1px solid transparent;
      position: relative;
    }

    li.party.hover .bar {
      border-color: @gray-dark;
    }

    .label {
      position: absolute;
      padding: .5rem;
      line-height: 1rem;
      color: white;
      right: 0;

      &.next-to-bar {
        // If JavaScript determines the bar isn't wide enough to hold the
        // text, move it to the right
        left: 100%;
        color: #484e4d;
      }
    }
  }
}
