.policy-score {
  h2 {
    margin-top: 3rem;
  }

  .chart {
    height: 15em;
  }

  svg {
    path.domain {
      stroke: none;
      fill: none;
    }

    .x-axis line {
      stroke: rgba(0, 0, 0, .3);
      stroke-width: .25px;
    }

    .y-axis text {
      text-anchor: end;
      font-weight: bold;
    }

    .policy {
      opacity: .5;
    }

    .hovering {
      stroke: black;
      stroke-width: 2px;
    }
  }
}
