.policy-score {
  margin: 0 1rem 3rem;

  .chart {
    height: 15em;
  }

  svg {
    path.domain {
      stroke: none;
      fill: none;
    }

    .x-axis {
      line {
        stroke-width: 1px;
        stroke: #eee;
      }

      text {
        fill: @gray-dark;
      }

      .tick text { text-anchor: middle; }
      .tick:first-child text { text-anchor: start; }
      .tick:nth-child(3) text { text-anchor: end; }
    }

    .y-axis text {
      text-anchor: start;
      font-weight: bold;
    }

    .policy {
      opacity: .5;
    }

    .hovering {
      stroke: black;
      stroke-width: 2px;
    }
  }
}
