.policy-color-legend {
  color: #484e4d;

  div {
    display: flex;

    ul {
      flex: 0 0 auto;
      display: inline-block;
      margin: 0;
      padding: 0 .25rem 0 0;
      list-style: none;

      li.policy {
        .policy-dot();
      }
    }

    span.label {
      display: inline-block; // make it not wrap below policy dots
    }
  }
}
