.policy-color-legend {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  white-space: nowrap;
  color: #484e4d;

  &>div:first-child {
    margin-right: 1.5rem;
  }

  ul {
    display: inline;
    margin: 0;
    padding: 0 .25rem 0 0;
    list-style: none;
  }

  li.policy {
    .policy-dot();
  }
}
