.question {
  h1 {
    text-align: center;
  }

  .choices {
    text-align: center;
  }

  button.choice {
    font: inherit;
    .button-default();
    font-size: .9rem;
    width: 20rem;
  }

  .inner {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5rem;
  }

  .done {
    text-align: center;

    button { .button-primary(); }
  }
}
