.question {
  .choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  button.choice {
    flex: 1 1 auto;
    max-width: 20rem;
    display: block;
    text-align: left;
    width: 100%;
    border-radius: .5em;
    padding: 1.5rem;
    margin: 1rem;
    line-height: 4.5rem;
    vertical-align: middle;
    border: 1px solid @gray-light;
    background: @gray-lighter;
    // FIXME do on-click color
  }

  .inner {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5rem;
  }

  .done {
    text-align: center;

    button { .button-primary(); }
  }
}
