.user-profile {
  .province-code:disabled { display: none; }
  .actions:disabled { display: none; }
  &:not(.saving) .spinner-overlay { display: none; }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  legend {
    display: block;
    font-weight: bold;
    text-align: center;
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  input {
    display: none; // radios are ugly
  }

  input:checked + label {
    font-weight: bold;
  }

  ul.language-code {
    display: flex;
    justify-content: center;

    li {
      text-align: center;

      border: .25em solid transparent;

      label {
        display: block;
        border: 0;
        padding: 1rem;
        border-radius: .5rem;
        border: 1px solid hsl(206, 12%, 73%);
        background: hsl(192, 20%, 95%);
        // FIXME do on-click color
      }
      input:checked + label {
        background: #484e4d;
      }
    }
  }

  fieldset.province-code {
    margin-top: 1.5rem;
    text-align: center;
  }

  fieldset.actions {
    margin: 0;
    margin-top: 1.5rem;
    padding: 0;
    text-align: center;

    button {
      border: 0;
      padding: 1rem;
      border-radius: .5rem;
      color: white;
      background: #7b67ac;
      font: inherit;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
