.user-profile {
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  legend {
    display: block;
    font-weight: bold;
    text-align: center;
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  input {
    display: none; // radios are ugly
  }

  input:checked + label {
    font-weight: bold;
  }

  fieldset.province-code {
    text-align: center;
  }

  fieldset.actions {
    margin: 0;
    margin-top: 1.5rem;
    padding: 0;
    text-align: center;

    button {
      border: 0;
      padding: 1rem;
      border-radius: .5rem;
      color: white;
      background: #7b67ac;
      font: inherit;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
